div.d2c-analytics-main-consumer-date-form {
  float: right;
  text-align: right;
}

div.d2c-analytics-main-consumer-date-form label {
  display: inline-block;
  margin-right: 7px;
}

div.d2c-analytics-main-consumer-date-form input[type="text"] {
  width: 280px;
}

div.d2c-analytics-main-consumer-selected-object {
  padding-top: 20px;
  margin-bottom: 15px;
}

div.d2c-analytics-main-consumer-selected-object div.info div.name {
  font-size: 140%;
  font-weight: bold;
}

div.d2c-analytics-main-consumer-selected-object div.d2c-analytics-main-consumer-d2c-code div.info {
  padding-top: 12px;
}

div.d2c-analytics-main-consumer-d2c-site div.item {
  padding-left: 12px;
}

div.d2c-analytics-main-consumer-d2c-code {
  overflow: hidden;
}

div.d2c-analytics-main-consumer-d2c-code img.d2c-qr-code {
  float: left;
  width: 140px;
  margin-right: 20px;
}

fieldset#d2c-analytics-main-consumer-visit-stats {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 3em;
}

fieldset#d2c-analytics-main-consumer-visit-stats object {
  margin-top: 20px;
}

div#d2c-analytics-main-consumer-csv-download-link {
  padding: 15px 15px 0;
  text-align: right;
}

div#d2c-analytics-main-consumer-statistics-subtab-content {
  overflow: hidden;
}

div#d2c-analytics-main-consumer-statistics-subtab-content table {
  float: left;
  width: 50%;
}

div#d2c-analytics-main-consumer-statistics-subtab-content object {
  float: right;
}

.active {
  font-weight: bold;
}

div#d2c-analytics-main-consumer-statistics-tabs ul {
  list-style-image: none;
  list-style-type: none;
}

div#d2c-analytics-main-consumer-statistics-tabs ul li {
  display: inline-block;
  background-image: none;
}

div#d2c-analytics-main-consumer-statistics-tabs ul li a {
  text-decoration: none;
}

div#d2c-analytics-main-consumer-statistics-subtab-content {
  min-height: 400px;
}

div#d2c-analytics-main-consumer-statistics-subtab-content object {
  margin-top: 20px;
}




div#d2c-analytics-main-consumer-statistics-tabs ul {
  list-style-image: none;
  list-style-type: none;
  margin-bottom: -1px;
}

div#d2c-analytics-main-consumer-statistics-tabs ul li {
  display: inline-block;
  background-image: none;  
  border: 1px solid gray;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  margin: 0px 0px;
  padding: 10px 15px;
  background-color: #EDF5FA;
}

div#d2c-analytics-main-consumer-statistics-tabs ul li.active {
  padding: 15px 20px 10px;
  vertical-align: bottom;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid white;
}

div#d2c-analytics-main-consumer-statistics-tab-content {
  border: 1px solid gray;
  padding: 20px;
  border-top-right-radius: 10px 10px;
}

div#d2c-analytics-main-consumer-statistics-subtabs {
  padding: 10px;
  border-top: 1px solid #D3E7F4;
  border-bottom: 1px solid #D3E7F4;
  margin-top: 20px;
  color: #D3E7F4;
}




div#d2c-analytics-main-consumer-statistics-subtabs span.separator {
  margin: 10px;
}


/* JQuery UI Datepicker */

div.ui-datepicker {
  background: white;
  width: 270px;
  padding: 10px;
}

div.ui-datepicker div.ui-datepicker-header {
  overflow: hidden;
  text-align: center;
}

div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-prev {
  display: block;
  float: left;
}

div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-next {
  display: block;
  float: right;
}
