/* D2C Domain */

div#d2c-domain h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

/* D2C Codes */

form#d2c-settings-codes-filter-form div.form-item {
  display: inline-block;
  margin-right: 1.5em;
  width: 280px;
}

form#d2c-settings-codes-filter-form div.form-item label {
  display: inline-block;
  text-align: right;
  width: 80px;
}

form#d2c-settings-codes-filter-form div#edit-domain-id-wrapper select,
form#d2c-settings-codes-filter-form div#edit-campaign-id-wrapper select,
form#d2c-settings-codes-filter-form div#edit-name-wrapper input {
  width: 180px;
}

form#d2c-settings-codes-filter-form div.form-buttons {
  margin-top: 10px;
  text-align: right;
}

div#d2c-settings-codes-no-result {
  text-align: center;
  font-style: italic;
  padding-top: 1em;
}

div#d2c-settings-codes-links {
  text-align: right;
}

table.d2c-codes {
  margin: 0;
}

table.d2c-codes tr {
  height: 70px;
}

table.d2c-codes tr th:first-child {
  width: 45px;
}

table.d2c-codes tr td:first-child {
  width: 45px;
  padding-top: 5px;
  vertical-align: top;
  position: absolute;
}

table.d2c-codes td.d2c-qr-code-id {
  white-space: nowrap;
}

table.d2c-codes img.d2c-qr-code {
  height: 60px;
  z-index: 0;
  position: relative;
}

table.d2c-codes img.d2c-qr-code:hover {
  height: 223px;
  z-index: 5;
  border: 5px solid white;
  right: 0px;
  bottom: 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

td.links {
  text-align: right;
  white-space: nowrap;
}

td.links a {
  margin-left: 10px;
  text-decoration: none;
}

td.links a:hover {
  font-weight: bold;
}

td.links a img {
  vertical-align: text-bottom;
  margin-right: 2px;
}

div.new_object_link {
  text-align: right;
  padding: 10px 8px;
}

/* Field widget */

div.d2c-core-field-qr-code-widget {
  overflow: hidden;
  margin: 10px;
  float: right;
}

div.d2c-core-field-qr-code-widget div.actions {
  width: 100px;
  text-align: center;
}

div.d2c-core-field-qr-code-widget img.code {
  width: 100px;
}

div.d2c-core-field-qr-code-widget div.icons {
  width: 100px;
  text-align: center;
}

div.d2c-core-field-qr-code-widget div.icons img {
  padding: 0px 3px 0px 3px;
}

/* Field formatter */

div.d2c-core-field-qr-code-formatter {
  overflow: hidden;
  margin: 10px;
  float: left;
}

div.d2c-core-field-qr-code-formatter div.icons img {
  padding: 0px 3px 0px 3px;
}
