div.qr-codes {
  overflow: hidden;
}

div.qr-codes div.d2c-node-qr-code {
  float: left;
  margin: 10px;
}

div.qr-codes div.d2c-node-qr-code img {
  width: 150px;
}

div.qr-codes div.d2c-node-qr-code div.buttons form {
  display: none;
}

div.attached-qr-codes div.title {
  font-weight: bold;
  margin-bottom: 5px;
}

div.attached-qr-codes div.d2c-node-qr-code {
  padding: 2px 0px 2px 10px;
}

div.attached-qr-codes div.d2c-node-qr-code a {
  text-decoration: none;
}

div.attached-qr-codes div.d2c-node-qr-code img.d2c-icon {
  vertical-align: text-bottom;
}

div.attached-qr-codes div.d2c-node-qr-code img.d2c-qr-code {
  position: absolute;
  display: none;
  z-index: 10;
}

div.attached-qr-codes div.d2c-node-qr-code span.d2c-qr-code-name {
  margin-left: 5px;
}

div.attached-qr-codes div.d2c-node-qr-code {
  float: left;
  width: 200px;
}

div.qr-codes div.d2c-node-block-qr-code {
  text-align: center;
  margin: 10px;
}
